.orderPage {
    padding-top: 13vh;
    width: 100%;
    animation: fadeIn 1s ease-out;
}

.all-orders-container {
    width: 90%;
    height: 85vh;
    margin-left: 5%;
    border-radius: 0.6rem;
    animation: fadeIn 1s ease-out;
}

.all-orders-container-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 4vw 2vh 1vw;
    margin: 0 1vw;
    border-bottom: 2px solid #00000061;
    animation: slideIn 0.8s ease-out;
}

.all-orders-container-head h2 {
    font-size: 2.5rem;
    color: rgba(57, 0, 42, 0.925);
}

.all-orders-container-search input {
    width: 20vw;
    padding: 10px;
    outline: none;
    font-size: 0.8rem;
    border-radius: 0.8rem;
    border: 1px solid #7aa30079;
    color: rgba(187, 175, 0, 0.601);
    transition: border-color 0.3s ease;
}

.all-orders-container-search input:focus {
    border-color: #7aa300;
}

.all-orders-container-search #searchIcon {
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    left: -2rem;
    color: rgba(29, 117, 73, 0.854);
    transition: color 0.3s ease;
}

.all-orders-container-search #searchIcon:hover {
    color: rgba(29, 117, 73, 1);
}

.all-orders {
    height: 70vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    animation: fadeIn 1s ease-out;
}
.all-orders::-webkit-scrollbar {
    display: none;
}

.all-orders-stock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border: 1px solid #3a6f3d79;
    margin: 0 2rem;
    border-radius: 0.8rem;
    opacity: 0;
    animation: fadeInUp 0.5s ease forwards;
    animation-delay: 0.2s;
    transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.all-orders-stock:hover {
    background-color: rgba(220, 255, 220, 0.2);
    border: 1px solid #3a6f3d2c;
    transform: scale(1.02);
}

.all-orders-stock span {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 2, 48, 0.879);
}

.all-orders-stock span h5 {
    margin: 0;
    font-size: 0.8rem;
    color: rgba(35, 120, 80, 0.729);
}

.all-orders-stock h6 {
    margin: 0;
    padding: 5px 8px;
    background-color: rgba(161, 234, 180, 0.199);
    color: rgb(29, 138, 96);
}

.all-orders-stock span p {
    margin: 0;
    font-size: 0.9rem;
}

/* Keyframes for Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
